obj
bin
sln
.vscode
AspNetCoreTodo/.vs/AspNetCoreTodo/DesignTimeBuild/.dtbcache
AspNetCoreTodo/.vs/AspNetCoreTodo/v15/.suo
AspNetCoreTodo/.vs/AspNetCoreTodo/v15/Server/sqlite3/db.lock
AspNetCoreTodo/.vs/AspNetCoreTodo/v15/Server/sqlite3/storage.ide
AspNetCoreTodo/.vs/AspNetCoreTodo/v15/Server/sqlite3/storage.ide-shm
AspNetCoreTodo/.vs/AspNetCoreTodo/v15/Server/sqlite3/storage.ide-wal

AspNetCoreTodo/AspNetCoreTodo.csproj.user
AspNetCoreTodo/Properties/PublishProfiles/GilabertTodo - Web Deploy.pubxml
AspNetCoreTodo/Properties/PublishProfiles/GilabertTodo - Web Deploy.pubxml.user
AspNetCoreTodo/Properties/PublishProfiles/GilabertTodoApp - Web Deploy.pubxml
AspNetCoreTodo/Properties/PublishProfiles/GilabertTodoApp - Web Deploy.pubxml.user
AspNetCoreTodo/app.db
AspNetCoreTodo/debug.log